@import "../abstracts/variable";
@import "../abstracts/mixins";

.effect {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);

  &__wrapper {
    @include center-container;
  }

  &__header {
    text-align: center;
    line-height: 3rem;
  }

  &__title {
    font-size: 50px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__images {
    flex: 1;
  }

  &__presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $main-dark-color solid 2px;
    border-radius: 24px;
    margin: 30px;
    background-color: #fff;
    box-shadow: -10px 10px 10px rgba($color: $main-dark-color, $alpha: 0.3);
    transition: all 0.3s ease-in-out;
    &:hover {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.15) 0%,
          rgba(0, 0, 0, 0.15) 100%
        ),
        radial-gradient(
            at top center,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 120%
          )
          #989898;
      background-blend-mode: multiply, multiply;
      color: $main-pink-color;
      opacity: 0.8;
      transform: scale(1.1);
    }
  }

  &__image {
    width: 300px;
    height: 300px;
    padding: 25px;
    object-fit: cover;
  }

  &__caption {
    font-size: 24px;
    font-weight: 700;
    padding: 25px;
  }
}
