* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.element {
  background-image: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  font-size: 28px;
}

.element__wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: auto;
  padding: 50px 0;
}

.element__header {
  text-align: center;
  line-height: 3rem;
}

.element__title {
  font-size: 50px;
}

.element__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.element__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element__presentation {
  padding: 28px 0;
}

.element__image {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: #128f8b solid 5px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #fff;
  -webkit-box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
          box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
}

.element__image:hover {
  border: none;
  opacity: 0.8;
}

.element__caption {
  text-align: center;
  margin-top: 10px;
}

.effect {
  background-image: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.effect__wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: auto;
  padding: 50px 0;
}

.effect__header {
  text-align: center;
  line-height: 3rem;
}

.effect__title {
  font-size: 50px;
}

.effect__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.effect__images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.effect__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: #128f8b solid 2px;
  border-radius: 24px;
  margin: 30px;
  background-color: #fff;
  -webkit-box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
          box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.effect__presentation:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  color: #e58886;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.effect__image {
  width: 300px;
  height: 300px;
  padding: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.effect__caption {
  font-size: 24px;
  font-weight: 700;
  padding: 25px;
}

.guide {
  background-image: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.guide__wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: auto;
  padding: 50px 0;
}

.guide__header {
  text-align: center;
  line-height: 3rem;
}

.guide__title {
  font-size: 50px;
}

.guide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d4d0), color-stop(1%, #d5d4d0), color-stop(31%, #eeeeec), color-stop(75%, #efeeec), to(#e9e9e7));
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  -webkit-box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
          box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
  padding: 25px;
  border-radius: 25px;
}

.guide__presentation {
  position: relative;
  background: #fff;
  margin: 0 10px;
  width: calc(25% - 20px);
  height: 400px;
  border: #128f8b solid 2px;
  border-radius: 24px;
  -webkit-box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
          box-shadow: -10px 10px 10px rgba(18, 143, 139, 0.3);
  overflow: hidden;
}

.guide__presentation:hover .guide__image {
  opacity: 0.7;
}

.guide__presentation:hover .guide__caption {
  opacity: 1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.guide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.guide__caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
  opacity: 0;
  color: #e58886;
  background-color: #dcd9d4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5))), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen;
}

.contact {
  background-image: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: #fff;
}

.contact__wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact__title {
  font-size: 2rem;
  line-height: 3rem;
}

.contact__info {
  font-size: 1.2rem;
  line-height: 2rem;
  width: calc(50% - 2rem);
}

.contact__socials {
  font-size: 2rem;
}

.contact__facebook {
  color: #2d88ff;
}

.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background: #128f8b;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav__wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 40px;
}

.nav__wrapper__links {
  width: 100%;
  height: 80px;
}

.nav__wrapper .logo a {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__wrapper .logo a:hover {
  font-size: 45px;
  opacity: 0.8;
}

.nav__wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__wrapper .menu__link {
  color: #fff;
  white-space: nowrap;
  padding: 20px 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav__wrapper .menu__link:hover {
  opacity: 0.8;
  font-size: 0.9rem;
  background-color: #128f8b;
  border-radius: 18px;
}

main {
  margin-top: 80px;
}
/*# sourceMappingURL=main.css.map */